@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
	font-family: 'Archangelsk';
	src: url('../fonts/Archangelsk.eot');
	src: local('Archangelsk'), 
        url('../fonts/Archangelsk.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Archangelsk.woff') format('woff'),
		url('../fonts/Archangelsk.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
    font-family: "Roboto";
    color: black;
    font-size: 18px;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 15%;
}

.nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 40px;
}

.intro {
    background-image: url('../images/header-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
}   

.intro_text h1 {
    font-family: "Archangelsk";
    font-size: 60px;
    margin-bottom: 25px;
    margin-top: 0;
    width: 0;
}

.intro_text button {
    font-weight: 700;
    font-size: 20px;
    color: yellow;
    background-color: black;
    padding: 20px 50px;
}

.intro .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro .container img {
    padding-top: 33.1%;
    padding-left: 46.5%;
}

.intro_text{
    max-width: 485px;
    max-height: 125px;
    padding-top: 20%;
    padding-left: 50%;
    position: absolute;
}