html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: rgb(22, 22, 22);
}

header {
    padding: 35px 40px;
    position: sticky;
    z-index: 999;
    font-size: 14px;
}

.logo {
    font-family: "Comfortaa", sans-serif;
    font-size: 28px;
    position: relative;
    left: 0px;
    bottom: 0px;
    top: 0px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-menu ul li {
    display: inline;
    margin-left: 20px;
}

.header-menu ul li a {
    text-decoration: none;
    font-size: 17px;
}

.header-menu ul li a:hover {
    color: #49cbecc4;
}

.container-hero {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
    display: flex;
}

.hero-image {
    float: left;
    border-radius: 15px;
    position: relative;
    top: -5px;
    left: -210px;
}

.hero-title {
    font-size: 50px;
    position: relative;
    right: 300px;
    top: 100px;
}

.hero-underline img{
    float: bottom;
    position: relative;
    bottom: 60px;
    left: 110px;
}

.bold-hero {
    font-weight: bold;
}

.hero-decorate {
    position: relative;
    right: 444px;
    bottom: 24px;
}

.list-reset-social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 515px;
    right: 350px;
}

.hero-listen-caption {
    position: relative;
    top: 510px;
    right: 340px;
}

.list-reset-social li {
    display: inline;
    margin-left: 5px;
}
